# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.DS_Store
.env.*
# Environment
.env

# IDEs
.vscode/
.idea/
*.swp

# Data
data/

data/*.pdf
*.log

# Outputs
benchmarks/*.png
benchmarks/*.json
